<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org "
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Página do Lojista nha</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <script>
        function confirmAndRedirect(id) {
            if (confirm('Confirmar exclusão do produto?')) {
                window.location.href = '/products/' + id + '/excluir';
            }
        }
    </script>

</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Clips e Clicks - Materiais Online</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="#produtos">Produtos</a></li>
                <li class="nav-item"><a class="nav-link" href="#sobre">Sobre</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Cadastre-se</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Encontre materiais escolares pelo melhor preço!</h1>
                <hr class="divider"/>
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5"> Nesta página você consegue edita seus produtos que estão adicionados na lista de exibição da página inicial. </p>
                <a class="btn btn-primary btn-xl" href="/">Voltar à página inicial</a>
            </div>
        </div>
    </div>
</header>
<table class="table table-striped">
    <div style="">Lista de Produtos</div>
    <div><a href="products/novo" class="btn btn-primary" style="margin-right: 20px;">Novo</a></div>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nome do Produto</th>
        <th scope="col">Valor</th>
        <th scope="col">Descrição</th>
    </tr>
    </thead>

    <tbody>

    <tr th:each="product : ${products}">
        <!--        <th scope="row">1</th>-->
        <td th:text="${product.id}"></td>
        <td th:text="${product.nome}"></td>
        <td th:text="${product.valor}"></td>
        <td th:text="${product.descricao}"></td>
        <!--        <td><a href="#" class="btn btn-warning">Alterar</a></td>-->
        <!--        <td>-->
        <!--            <a href="#" th:onclick="if(confirm(\'Confirmar exclusão do produto?\')) { window.location.href= \'' + @{/products/{id}(id=${product.id})} + '/excluir\' }'" class="btn btn-danger">Excluir</a>-->
        <!--        </td>-->

        <!--        <td><a href="#" class="btn btn-warning">Alterar</a></td>-->
        <!--        <td>-->
        <!--            <a href="#" th:onclick="if(confirm('Confirmar exclusão do produto?')) { window.location.href= '|/products/' + ${product.id} + '/excluir' }" class="btn btn-danger">Excluir</a>-->
        <!--        </td>-->

        <td><a th:href="@{/products/{id}(id=${product.id})}" class="btn btn-warning">Alterar</a></td>

        <td>
            <a href="#" th:onclick="|confirmAndRedirect(${product.id});|" class="btn btn-danger">Excluir</a>
        </td>
    </tr>

    </tbody>
</table>

<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">Copyright &copy; 2024 - Clips & Clicks - Materiais Online</div></div>
    <div class="small text-center text-muted">Projeto Integrador Univesp</div></div>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>